{% extends 'base.html' %}

{% block title %}{{viewpost.title}}{{viewpost.title}} - Al Elise The Cars{% endblock %}

{% block content %}
{% load static %}


<section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/banner-image-1-1920x500.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <br>
                    <br>
                    <h2>Single <em>blog post</em></h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Blog Start ***** -->
<section class="section" id="our-classes">
    <div class="container">
        <br>
        <br>
        <section class='tabs-content'>
          <article>
            <h4>{{viewpost.title}}</h4>

            <p><i class="fa fa-user"></i> {{viewpost.author}} &nbsp;|&nbsp; <i class="fa fa-calendar"></i> {{viewpost.created_at}}&nbsp;|&nbsp; <i class="fa fa-comments"></i>  {{comment_count}}</p>

            <div><img src="{{viewpost.image.url}}" alt=""></div>

            <br>
            <p>{{viewpost.content}}</p>
          </article>
        </section>

        <br>
        <br>
        <br>
        
        <section class='tabs-content'>
            <div class="row">
                <div class="col-md-8">
                    <h4>Comments</h4>
                    <ul class="features-items">
                        {% for Comment in commentsv %}
                        <li>
                            <div class="feature-item" style="margin-bottom:15px;">
                                <div class="right-content">
                                    <h4>{{Comment.name}} <small>{{Comment.created_at}}</small></h4>
                                    <p><em>"{{Comment.message}}"</em></p>
                                </div>
                            </div>
                        </li>
                        {% endfor%}
                    </ul>
                </div>

                <div class="col-md-4">
                    <h4>Leave a comment</h4>
            
                    <div class="contact-form">
                        <form action="" method="post">
                          <div class="row">
                            <div class="col-lg-12">
                              <fieldset>
                                
    {% csrf_token %}
    {{ form.as_p }}
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Submit</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<!-- ***** Blog End ***** -->


{% endblock %}